/******************* Website Font *******************/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/******************* General website styling *******************/
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background: url(../img/website-background-image.webp) no-repeat 100% 80%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0%;
	color: #fee086;
	font-family: "Press Start 2P", sans-serif;
}

article {
	border: 2px solid #fee086;
	width: 90%;
	margin: 5rem auto 5rem auto;
	background-color: rgba(36, 11, 103, 0.7);
	overflow: hidden;
	padding: 0rem 1rem;
	position: relative;
}

.display-none {
	display: none !important;
}

/* Button Styling */

.btn {
	text-align: center;
	display: inline-block;
	margin: 5px;
	font-weight: bold;
	border: none;
	background-color: #fee086;
	text-shadow: -1px -1px black, 1px 1px white;
	color: rgb(36, 11, 103);
	border-radius: 7px;
	box-shadow: 0 0.2em gray;
	cursor: pointer;
}

.btn:active {
	box-shadow: none;
	position: relative;
	top: 0.2em;
}

.btn-padding {
	padding: 10px;
}

.mobile-margin {
	margin-left: 0rem;
}

/****************** Index Page ******************/

h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: center;
	margin-top: 2rem;
}

.game-area-inner {
	display: flex;
	flex-direction: column;
}

.game-area-inner-mainStyling {
	display: flex;
	flex-direction: column;
}

.game-area-inner-img {
	width: 100%;
}

.game-area-inner-img-self {
	width: 100%;
	margin: auto;
	display: block;
}

.game-area-inner-rules {
	width: 100%;
}

.line-height {
	line-height: 1.6;
}

.play-game-button {
	padding: 3rem 0rem;
}

.play-game-button-inner {
	margin: auto;
	display: block;
}
.text-decoration {
	text-decoration: none;
	display: block;
	padding: 20px 39px;
	width: 200px;
}

.icon {
	margin-right: 1rem;
}

/****************** Game Page *******************/

.play-area {
	padding-bottom: 3rem;
}

.play-area-top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2rem;
}

.play-area-main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.play-area-top-word-select {
	width: 100%;
}

.stopwatch-header {
	display: block;
	padding: 0rem 0rem 1rem 0rem;
}

#minutes {
	padding-left: 0.5rem;
}

#guess-word {
	background: #fee086;
	color: #240b67;
	padding: 0.5rem;
	border-radius: 5rem;
	font-weight: 800;
	margin: auto;
	display: block;
}

#hangman {
	margin: auto;
	display: block;
	width: 260px;
}

.play-area-letters {
	padding: 1rem;
	text-align: center;
	position: relative;
}

/* apply when user selects a letter guess */
.btnPressed {
	color: red;
	background-color: blue;
}

/* button style for on screen letters */
.blankSquares {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	border: 2px solid #fee086;
	align-items: end;
}

.blankSquares-letters {
	font-size: 2rem;
	padding: 1rem;
}

.letterBtn {
	font-size: 3rem;
	width: 5rem;
}

/* game rules overlay */

.play-area-main-gameRules {
	position: absolute;
	z-index: 99;
	background: rgba(36, 11, 103, 0.9);
	padding: 5rem;
	width: 50%;
	right: 0;
	top: 162px;
	border: 2px solid #fee086;
}

.rules-text-width {
	width: 100% !important;
}

.play-area-main-gameRules-header {
	margin-top: 0rem;
	font-size: 4rem;
}

/* end game message */

.end-game-message {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border: 2px solid;
	width: 100%;
	height: 100%;
	background-color: grey;
	left: 0px;
}

.underline {
	text-decoration: underline;
}

/******************** media query ********************/

@media (max-width: 376px) {
	.play-area-top-word-select {
		padding-top: 1rem;
	}
}

@media (min-width: 426px) {
	.game-area-inner-img-self {
		width: 60%;
	}

	.play-area-top {
		justify-content: space-around;
	}

	.play-area-top-word-select {
		width: inherit;
	}

	#guess-word {
		background: #fee086;
		color: #240b67;
		padding: 0.5rem;
		border-radius: 5rem;
		font-weight: 800;
	}

	.blankSquares-letters {
		font-size: 3rem;
	}
}

@media (min-width: 769px) {
	h1 {
		font-size: 5rem;
		margin-top: 4rem;
	}

	.game-area-inner-music {
		margin-left: 2rem;
	}

	#hangman {
		width: 300px;
	}

	.game-area-inner-mainStyling {
		display: block;
	}

	.game-area-inner-img {
		width: 50%;
		float: left;
	}
	.game-area-inner-img-self {
		width: 95%;
	}

	.game-area-inner-rules {
		width: 50%;
		float: right;
		padding-right: 4rem;
		padding-top: 3rem;
	}

	.play-area-main {
		float: left;
		width: 50%;
		padding-right: 1rem;
	}

	.play-area-letters {
		float: right;
		width: 50%;
		margin-top: 1rem;
	}
	.blankSquares {
		width: 50%;
		margin-top: 11rem;
	}
}

@media (min-width: 1441px) {
	.play-game-button {
		padding: 0;
	}

	article {
		width: 70%;
		padding-bottom: 5rem;
	}
}
