/* basic website styling */
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	background: url(../img/website-background-image.jpg) no-repeat 100% 80%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0%;
	color: #fee086;
}

article {
	border: 2px solid black;
	width: 70%;
	margin: auto;
	background-color: rgba(36, 11, 103, 0.7);
}

/* index page styling */

h1 {
	font-size: 5rem;
	text-decoration: underline;
	text-align: center;
}

.game-area-inner {
	display: flex;
	flex-direction: column;
}

.game-area-inner-img {
	width: 50%;
	float: left;
}

.game-area-inner-rules {
	width: 50%;
	float: right;
}

.game-area-inner-img-inner,
.play-area-main-img {
	width: 20%;
}

.play-game-button {
	padding: 3rem 0rem;
}

.play-game-button-inner {
	margin: auto;
	display: block;
	padding: 2rem;
	border-radius: 5rem;
}
/* game page styling */

.play-area-top {
	display: flex;
	justify-content: space-between;
}
.play-area-top-select {
	display: flex;
	flex-direction: column;
}

.play-area-main-wrapper {
	display: flex;
	justify-content: space-between;
}

/* game rules pop up section */
.display-none {
	display: none;
}

.btnPressed {
	color: red;
	background-color: blue;
}

.hidden {
	visibility: hidden;
	float: right;
}
